/* stylus:D:\Vincent Li\Desktop\Code\in-love-with-the-world_v2\src\styles.styl */
.home {
  margin: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  font-family: "Cormorant Upright", serif;
  font-size: 21px;
}
.home div:selection,
.home a:selection {
  background-color: #ffd02b;
}
.home .content {
  width: max-content;
  margin: 0 auto;
  margin-top: 33vh;
}
.home a {
  display: block;
  margin-top: 10px;
  color: #eb4255;
}
.home a:visited {
  color: #e68a94;
}

/* stylus:D:\Vincent Li\Desktop\Code\in-love-with-the-world_v2\src\v-2\styles.styl */
.v-2 {
  margin: 0;
  background-color: #252424;
  overflow-x: hidden;
  overflow-y: scroll;
}
.v-2 body,
.v-2 button,
.v-2 label {
  font-size: 16px;
  font-family: "Cormorant Upright", serif;
}
.v-2 canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 250ms;
}
.v-2 .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  color: #ababab;
  width: 400px;
  font-size: 28px;
  line-height: 2;
  margin: -14px 0;
  transition: 250ms;
}
.v-2 .poemControlContainer {
  position: fixed;
  z-index: 10;
  right: 100px;
  top: 25%;
  color: #ababab;
  font-size: 18px;
  user-select: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 50vh;
}
.v-2 .poemControlContainer span {
  cursor: pointer;
}
.v-2 #left {
  margin-right: 20px;
}
.v-2 .hide {
  opacity: 0;
  pointer-events: none;
}
.v-2 .fadeOut {
  opacity: 0;
}
.v-2 .progress {
  box-shadow: inset 0px 0px 0px 2px #2b2b2b;
  height: 150px;
  width: fit-content;
}
.v-2 .bar {
  height: 50%;
  width: 20px;
  background-color: #2b2b2b;
}
.v-2 .bottom-gradient {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  height: 25vh;
  width: 100vw;
  background: linear-gradient(0deg, #252424 0%, rgba(37, 36, 36, 0) 100%);
}

/* stylus:D:\Vincent Li\Desktop\Code\in-love-with-the-world_v2\src\v-1\styles.styl */
.v-1 {
  margin: 0;
  background-color: #252424;
  overflow-x: hidden;
}
.v-1 body,
.v-1 button,
.v-1 label {
  font-size: 16px;
  font-family: "Cormorant Upright", serif;
}
.v-1 canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 250ms;
}
.v-1 .controlsContainer {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  width: 120px;
}
.v-1 .collapse {
  display: none;
}
.v-1 #controls {
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}
.v-1 #controls:hover {
  border: 1px solid #cdc3bd;
  color: #cdc3bd;
}
.v-1 .settings {
  width: 100%;
}
.v-1 button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  color: #cdc3bd;
  border: 1px solid #cdc3bd;
  border-top: none;
  padding: 8px 16px;
  width: 100%;
}
.v-1 #controls:hover,
.v-1 #start:hover,
.v-1 #stop:hover,
.v-1 #reset:hover,
.v-1 #step:hover {
  background-color: #cdc3bd;
  color: #252424;
}
.v-1 #start {
  border-top: 1px solid #cdc3bd;
}
.v-1 .dev {
  display: none;
}
.v-1 label {
  align-self: center;
}
.v-1 .rate {
  background-color: #cdc3bd;
  border: none;
  border-radius: 4px;
  height: 30px;
  text-align: center;
}
.v-1 .rate:focus-visible {
  border: none;
}
.v-1 .awareness {
  -webkit-appearance: none;
  appearance: none;
  background-color: #cdc3bd;
  border-radius: 4px;
  width: 100%;
}
.v-1 .awareness::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 30px;
  background: #e7e2d6;
  border: 4px solid #cdc3bd;
  border-radius: 4px;
  cursor: pointer;
}
.v-1 .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  color: #ababab;
  width: 400px;
  font-size: 28px;
  line-height: 2;
  margin: -14px 0;
  transition: 250ms;
}
.v-1 .poemControlContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  color: #ababab;
  font-size: 18px;
  user-select: none;
}
.v-1 .poemControlContainer span {
  cursor: pointer;
}
.v-1 #left {
  margin-right: 20px;
  display: none;
}
.v-1 .hide {
  opacity: 0;
  pointer-events: none;
}
.v-1 .fadeOut {
  opacity: 0;
}
