
.v-1
  margin 0
  /* background-color #e7e2d6 */
  background-color #252424
  overflow-x hidden
  overflow-y scroll


  body, button, label 
    font-size 16px
    /* font-family Arial, Helvetica, sans-serif */
    font-family 'Cormorant Upright', serif


  canvas 
    position absolute
    top 0
    left 0
    z-index 0
    transition 250ms

  .text 
    /* https://stackoverflow.com/questions/5132323/aligning-a-div-to-center-of-page-while-its-position-is-absolute/42362105#42362105 */
    position absolute
    left 50%
    transform translateX(-50%)
    top 25%
    color #ababab
    width 400px
    
    font-size 28px
    line-height 2

    /* https://stackoverflow.com/questions/37821328/remove-line-height-from-first-line */
    /* offsets the first line's line-height */
    margin -14px 0 
    transition 250ms



  .poemControlContainer 
    position fixed
    z-index 10
    // left 0
    right 100px
    // transform translateX(-50%)
    top 25%
    color #ababab
    font-size 18px
    user-select none

    display flex
    flex-flow column
    justify-content space-between
    // width 400px
    height 50vh


  .poemControlContainer span 
    cursor pointer


  #left 
    /* transform rotate(180deg) */
    margin-right 20px


  .hide 
    opacity 0
    pointer-events none


  .fadeOut 
    opacity 0

  .progress

    box-shadow inset 0px 0px 0px 2px #2b2b2b  
    height 150px
    width fit-content

  .bar
    height 50%
    width 20px
    background-color #2b2b2b

  .bottom-gradient
    position fixed
    z-index 1
    left 0
    bottom 0
    height 25vh
    width 100vw
    background: linear-gradient(0deg, rgba(37,36,36,1) 0%, rgba(37,36,36,0) 100%);

